* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  direction: rtl;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #254326;
  font-family: var(vazir-bold);
}
.container {
  max-width: 1280px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  background-color: #688d7a;
  border-radius: 20px;
  overflow: hidden;
  min-height: 80vh;
}
.signup__form__img img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.signup__form__right {
  padding: 2rem;
  background-color: #dad3be;
}
.signup__form__right h1 {
  margin-bottom: 2rem;
  font-family: var(vazir-bold);
  color: #254326;
}
.signup__form__right form input,
.signup__form__right form button {
  width: 100%;
  margin-bottom: 1rem;
  border: 2px solid #254326;
  padding: 0.6rem;
  border-radius: 5px;
  outline: none;
}
.signup__form__right form input:focus {
  border: 2px solid #254326;
  box-shadow: 0 0 0px 2px #254326;
}
.signup__form__right form label {
  color: #989b9f;
  font-size: 0.8rem;
}
.signup__form__right form button {
  background-color: #688d7a;
  border: none;
  color: #dad3be;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.7rem;
  cursor: pointer;
}
.signup__form__right form button:hover {
  background-color: #254326;
}

@media screen and (min-width: 768px) {
  .signup__form {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
  }
  .signup__form__right {
    padding: 5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .signup__form__img {
    width: 50%;
  }
  .signup__form__img img {
    height: 90vh;
    width: 100%;
    display: block;
  }
}
